@model IEnumerable<ZMBusService.Models.busRoute>

    @{
        ViewBag.Title = "Bus Route Listing";
    }

    <h2>@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.busRouteCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.routeName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.busRouteCode)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.routeName)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.busRouteCode }) |
                    @Html.ActionLink("Details", "Details", new { id = item.busRouteCode }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.busRouteCode }) |
                    @Html.ActionLink("Show Routes", "Index", "ZMRouteStop", new { routeCode = item.busRouteCode, routeName = item.routeName }, null) |
                    @Html.ActionLink("Monitored Trips", "Index", "ZMTrip", new { routeCode=item.busRouteCode, routeName=item.routeName},null)
                </td>
            </tr>
        }

    </table>
