@model IEnumerable<ZMBusService.Models.busStop>

@{
    ViewBag.Title = "Listing bus stops";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.busStopNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.locationHash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.goingDowntown)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.busStopNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.locationHash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.goingDowntown)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.busStopNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.busStopNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.busStopNumber }) |
            @Html.ActionLink("Route Schedule", "RouteSelector", new { busStopNumber = item.busStopNumber, location = item.location })
        </td>
    </tr>
}

</table>
