<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img style="float:left;" height="150" src="~/Content/Images/logo.png" />
               @Html.ActionLink("ZM Bus Services", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Bus Routes", "Index", "ZMBusRoute")</li>
                    <li>@Html.ActionLink("Bus Stops", "Index", "ZMBusStop")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (TempData["message"] != null)
        {
            <div style="font-weight:700;" class="alert alert-@TempData["messageType"]" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
               @TempData["message"]
            </div>
        }
        @RenderBody()
        <hr />
        <footer>
            <ul class="nav navbar-nav" style="float:right;">
                
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            <p>&copy; @DateTime.Now.Year - <a href="mailto:zmaknojia1618@conestogac.on.ca">Zahidali Maknojia</a> - Section 2</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
